<div class='topnav'>
      <%=link_to "Home", root_path%>
      <%= link_to "Instructors", instructors_path, class:"all_instructors"%>
      <%= link_to "New Instructor", new_instructor_path %>
</div>
